<div class="forgot-password-page">
  <div class="top-left">
    <app-back-button route="/login"></app-back-button>
    <h1>Mot de passe <br> oublié ?</h1>
  </div>

  <div class="center-form">
    <p class="description">Changer votre mot de passe</p>

    <form (ngSubmit)="onSubmit()">
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Entrez votre email"
        required
      />

      <app-slide-button
        label="Valider"
        [negative]="true"
        backgroundColor="#333"
        (buttonClick)="onReset()">
      </app-slide-button>

      <p *ngIf="error" class="error">{{ error }}</p>
      <p *ngIf="success" class="success">{{ success }}</p>
    </form>
  </div>
</div>
