<div class="body">
  <header class="legal-header">
    <app-back-button></app-back-button>
    <img src="assets/svg/logo.svg" alt="Blob Logo" class="logo" />
  </header>
  <div class="forgot-password-page">
    <div class="top-left">
      <h1>
        Mot de passe <br />
        oublié ?
      </h1>
    </div>

    <div class="center-form">
      <p class="description">Changer votre mot de passe</p>

      <form (ngSubmit)="onSubmit()">
        <input type="email" name="email" [(ngModel)]="email" placeholder="Entrez votre email" required />

        <app-slide-button label="Valider" [negative]="true" backgroundColor="#333" (buttonClick)="onReset()">
        </app-slide-button>

        <p *ngIf="error" class="error">{{ error }}</p>
        <p *ngIf="success" class="success">{{ success }}</p>
      </form>
    </div>
  </div>
  <footer class="legal-footer">
    <ul class="footer-nav__list">
      <li><a routerLink="/mentions-legales">Mentions légales</a></li>
      <li><a routerLink="/apropos">À propos</a></li>
      <li><a routerLink="/faire-un-don">Faire un Don</a></li>
    </ul>
  </footer>
</div>
