<div class="right-order-question-container">
  <div class="answers-container">
    <div class="order-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let answer of orderedAnswers; let i = index" class="order-item" cdkDrag [style.background-image]="'url(assets/svg/blob_block' + ((answer.id % 4) + 1) + '.svg)'">
        <div class="order-content">
          <span class="order-text">{{ answer.answer }}</span>
        </div>
        <div class="drag-handle" cdkDragHandle>
          <span class="drag-icon">⋮⋮</span>
        </div>
      </div>
    </div>
  </div>

  <div class="actions-container">
    <button class="reset-btn" (click)="resetOrder()">Mélanger</button>

    <button class="validate-btn" (click)="validateAnswer()">Valider l'ordre</button>
  </div>
</div>
