# Symfony & PHP
/var/
/vendor/
/.env
/.env.test
/.env.dev
/public/bundles/
/public/assets/
/config/secrets/prod/prod.decrypt.private.php

# Tests
/phpunit.xml
/phpunit.result.cache
# Docker

/docker-compose.override.yml


# IDE
/.idea/
/.vscode/
/*.iml

/config/jwt/private.pem
/config/jwt/public.pem

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
