<div class="login-page">
  <div class="login-left">
    <div>
      <img src="./assets/svg/logo_red.svg" alt="Blob Logo" class="logo" />
      <ul class="header-nav">
        <li><a href="/mentions-legales">Mentions Légales</a></li>
        <li><a href="/a-propos">À propos</a></li>
        <li><a href="#">Faire un Don</a></li>
      </ul>
    </div>
    <p class="p-1 diplay-none">Bienvenue                         sur <span class="blob-highlight">Blob</span>.</p>
    <p class="p-2 diplay-none"> Le meilleur concepteur de quiz pour tous.</p>
    <div class="container-blob"></div>
    <footer class="footer-nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item"><a href="/mentions-legales">Mentions Légales</a></li>
        <li class="footer-nav__item"><a href="/a-propos">À propos</a></li>
        <li><a routerLink="/faire-un-don">Faire un Don</a></li>
      </ul>
      <div class="footer-nav__icon">
        <img src="./assets/svg/three_blob2.svg"/>
      </div>
    </footer>
  </div>
  <div class="login-right">
    <form (ngSubmit)="onSubmit()">
      <h1>Connexion</h1>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email"
        required
      />
      <app-password-input
        placeholder="Mot de passe"
        [value]="password"
        (valueChange)="onPasswordChange($event)"
        [required]="true">
      </app-password-input>
      <a class="forgot" routerLink="/mot-de-passe-oublie">Mot de passe oublié ?</a>
      <app-slide-button
        label="Se connecter"
        [negative]="true"
        backgroundColor="var(--color-dark)"
        (buttonClick)="onSubmit()">
      </app-slide-button>
      <p *ngIf="error" class="error">{{ error }}</p>
    </form>
    <div class="register-container">
      <p class="no-account">Vous n'avez pas de compte ?</p>
      <app-slide-button
        label="S'inscrire"
        (buttonClick)="goToRegister()">
      </app-slide-button>
      <a class="skip" (click)="continueAsGuest()">Passer cette étape</a>
    </div>
  </div>
</div>
