<div class="registration-page">
  <div class="registration-left">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1>S’inscrire</h1>

      <input
        type="text"
        formControlName="firstName"
        placeholder="Nom" />
      <div
        *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched"
        class="error">
        Nom requis
      </div>

      <input
        type="text"
        formControlName="lastName"
        placeholder="Prénom" />
      <div
        *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched"
        class="error">
        Prénom requis
      </div>

      <input
        type="email"
        formControlName="email"
        placeholder="Email" />
      <div
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="error">
        Email invalide
      </div>

      <input
        type="password"
        formControlName="password"
        placeholder="Mot de passe" />
      <div
        *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched"
        class="error">
        Minimum 6 caractères
      </div>

      <input
        type="password"
        formControlName="confirm"
        placeholder="Confirmez le mot de passe" />
      <div
        *ngIf="form.hasError('mismatch') && form.get('confirm')?.touched"
        class="error">
        Les mots de passe ne correspondent pas
      </div>

      <label class="tos">
        <input type="checkbox" formControlName="tos" />
        En cochant cette case j’accepte les conditions d’utilisation
      </label>
      <div
        *ngIf="form.get('tos')?.invalid && form.get('tos')?.touched"
        class="error">
        Vous devez accepter les conditions
      </div>

      <button
        class="btn main"
        type="submit"
        [disabled]="form.invalid">
        Valider
      </button>
      <div *ngIf="error" class="error">{{ error }}</div>

      <p class="no-account">
        Vous avez déjà un compte ?
        <a routerLink="/connexion">Se connecter</a>
      </p>
      <a class="skip" routerLink="/">»» Passer cette étape</a>
    </form>
  </div>

  <div class="registration-right">
    <div class="header">
      <img
        src="./assets/svg/logo.svg"
        alt="Blob Logo"
        class="logo" />
      <ul class="header-nav">
        <li><a href="#">Mentions Légales</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Faire un Don</a></li>
      </ul>
    </div>

    <div class="hero">
      <h2>Créer ton compte</h2>
      <img
        src="./assets/svg/three_blob.svg"
        alt="Blob Trees"
        class="blob-illu" />
    </div>

    <footer class="footer-nav">
      <ul class="footer-nav__list">
        <li><a href="#">Mentions Légales</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Faire un Don</a></li>
      </ul>
    </footer>
  </div>
</div>
