<div class="reset-password-page">
  <div class="top-left">
    <app-back-button></app-back-button>
    <h1>Réinitialisez votre mot de passe</h1>
  </div>

  <div class="center-form">
    <p class="description">Réinitialisez votre mot de passe</p>

    <form (ngSubmit)="onSubmit()">
      <app-password-input
        placeholder="Nouveau mot de passe"
        [value]="password"
        (valueChange)="onPasswordChange($event)"
        [required]="true"
      >
      </app-password-input>

      <app-password-strength-indicator [password]="password" theme="light"> </app-password-strength-indicator>

      <app-password-input
        placeholder="Confirmer le mot de passe"
        [value]="confirmPassword"
        (valueChange)="onConfirmPasswordChange($event)"
        [required]="true"
      >
      </app-password-input>

      <div *ngIf="error" class="error">{{ error }}</div>
      <div *ngIf="success" class="success">{{ success }}</div>

      <app-slide-button label="Valider" [negative]="true" type="submit" (reset)="onReset()"> </app-slide-button>
    </form>
  </div>
</div>
