<div class="container">
  <h1>Gestion <br /> des utilisateurs</h1>

  <div>
    <select
      class="form-control"
      [(ngModel)]="filterOrg"
      (ngModelChange)="applyFilters()"
    >
      <option value="">Organisation</option>
      <option *ngFor="let org of orgOptions" [value]="org">{{ org }}</option>
    </select>

    <select
      class="form-control"
      [(ngModel)]="filterRight"
      (ngModelChange)="applyFilters()"
    >
      <option value="">Droits</option>
      <option *ngFor="let right of rightsOptions" [value]="right">
        {{ right }}
      </option>
    </select>

    <input
      type="text"
      class="form-control"
      placeholder="Mot-clé"
      [(ngModel)]="filterKeyword"
      (ngModelChange)="applyFilters()"
    />

    <button tuiButton class="form-control" (click)="applyFilters()">
      Rechercher
    </button>
  </div>

  <div class="actions mb-4">
    <button
      tuiButton
      size="s"
      (click)="deleteSelected()"
      [disabled]="!hasSelection"
    >
      Supprimer la sélection
    </button>
  </div>

 <div
   tuiDropdownLimitWidth="fixed"
   tuiGroup
   [tuiDropdown]="dropdown"
   [(tuiDropdownOpen)]="open">
     <button
       tuiButton
       type="button"
     >
       Gérer les entreprises
     </button>
   <button
     #tuiDropdownHost
     tuiChevron
     tuiIconButton
     type="button"
     [style.flex]="'0 0 auto'"
   >
   </button>
 </div>
  <ng-template #dropdown>
    <tui-data-list>
      <button
        *ngFor="let item of items"
        tuiOption
        type="button"
        (click)="onClick()"
      >
        {{ item }}
      </button>
    </tui-data-list>
  </ng-template>


  <div *ngIf="loadError" class="error">
    Impossible de charger les utilisateurs.
  </div>

  <table tuiTable [size]="size" class="custom-table">
    <thead>
    <tr>
      <th tuiTh>
        <input
          type="checkbox"
          tuiCheckbox
          [ngModel]="allSelected"
          (ngModelChange)="toggleAll($event)"
        />
      </th>
      <th tuiTh>Utilisateur</th>
      <th tuiTh>Actif</th>
      <th tuiTh>Organisation</th>
      <th tuiTh>Statistiques</th>
      <th tuiTh>Droits</th>
      <th tuiTh>Action    <button tuiButton appearance="action" size="xs" iconStart="@tui.trash" tuiIconButton>
      </button></th>
    </tr>
    </thead>
    <tbody tuiTbody>
    <tr *ngFor="let row of pagedRows">
      <td tuiTd>
        <input type="checkbox" tuiCheckbox [(ngModel)]="row.selected" />
      </td>
      <td tuiTd>
        <div [tuiCell]="size" class="d-flex align-center gap-2">
          <tui-avatar [size]="size"></tui-avatar>
          <div>
            <div tuiTitle>{{ row.name }}</div>
            <div tuiSubtitle>{{ row.email }}</div>
          </div>
        </div>
      </td>
      <td tuiTd>
          <span [tuiStatus]="row.active ? 'positive' : 'warning'">
            {{ row.active ? 'Oui' : 'Non' }}
          </span>
      </td>
      <td tuiTd>{{ row.organization }} {{row.group}}</td>
      <td tuiTd>
        <button tuiButton appearance="action-grayscale" size="s">
          {{ row.stats }} <span *ngIf="row.stats">Voir plus</span>
        </button>
      </td>
      <td tuiTd>
        <tui-items-with-more [style.gap.rem]="'0.25'">
          <ng-container *ngFor="let perm of row.rights">
            <tui-badge *tuiItem>{{ perm }}</tui-badge>
          </ng-container>
          <ng-template let-number tuiMore>
            <button
              tuiButton
              appearance="action-grayscale"
              size="s"
              tuiLink
              [pseudo]="true"
              tuiDropdownOpen
              tuiDropdownAlign="right"
              [tuiDropdown]="dropdown"
              iconStart="@tui.pencil"
            >
              +{{ row.rights.length - number - 1 }}
            </button>
            <ng-template #dropdown>
              <div [style.padding.rem]="'1'">
                <ng-container *ngFor="let perm of row.rights; let i = index">
                  <tui-badge *ngIf="i > number">{{ perm }}</tui-badge>
                </ng-container>
              </div>
            </ng-template>
          </ng-template>
          <span *ngIf="!row.rights.length">—</span>
        </tui-items-with-more>
      </td>
      <td tuiTd>
        <div class="d-flex gap-2">
         <a> Voir le profil </a>
          <button tuiButton appearance="action" size="xs" iconStart="@tui.pencil" tuiIconButton>
          </button>
          <button tuiButton appearance="action" size="xs" iconStart="@tui.trash" tuiIconButton>
          </button>
        </div>
      </td>
    </tr>
    <tr *ngIf="rows.length === 0">
      <td tuiTd colspan="7">Aucun utilisateur trouvé.</td>
    </tr>
    </tbody>
  </table>


  <app-pagination
    [totalItems]="rows.length"
    [pageSize]="pageSize"
    [page]="page"
    [activePadding]="2"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
